@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}


p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skill {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 28px;
    color: #13183F;
    margin-left: 16px;
    margin-top: 22px;
}

#container2 {
    width: 140px;
    height: 48px;
    border-radius: 28px;
    background: #13183F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px; 
    margin-right: 16px;
}

#get-started {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF; 
}

#img-dark-skilled {
    margin-left: 16px;
}

#maximize {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    margin-left: 16px;
    font-size: 40px;
    margin-top: 38px;
}

#first-p {
    width: 343px;
    margin-top: 26px;
    margin-left: 16px;
}

#container3 {
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 20px;
}

#get-started2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

#container4 {
    display: flex;
    justify-content: center;
}

#hero {
    max-width: 500px;
    min-width: 250px;
}

#big {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container5 {
    aspect-ratio: calc(343 / 120); 
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 16px;
}

#courses {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 28px;
}

.card {
    aspect-ratio: calc(343 / 259); 
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px; 
    padding-left: 28px;
    padding-top: 56px;
    padding-right: 29px;
    padding-bottom: 32px;
    position: relative;
}

#remove {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-img {
    position: absolute;
    left: 28px;
    top: -24px;  
}

.content {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-bottom: 24px;
}

h6 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin-bottom: 16px;
}

h5 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    
}

#container7 {
    
    aspect-ratio: calc(375 / 120);
    background: #13183F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

#skill-black {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 28px;
    color: #FFFFFF;
    margin-left: 16px;
}

#container8 {
    width: 140px;
    height: 48px;
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

#get-started3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

#container8:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    cursor: pointer;
}

h5:hover {
    color: #FFA7C3;
    cursor: pointer;
}

#container3:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
}

#container2:hover {
    background: #666CA3; 
    cursor: pointer;
} 

@media screen and (min-width: 768px) {
    
    body {
        background-image: url(/assets/image-hero-tablet.png);
        background-repeat: no-repeat;
        background-position: right -300px top -92px;
    } 
    
    .card {
        max-width: 340px;
        margin: 0px;
    }
    
    #container5 {
        width: 340px;
        margin: 0px;
    }
    
    #big {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 56px 10px;
    }

    #hero {
        display: none;
    }

    #container3 {
        margin-left: 39px;
        margin-bottom: 210px;
    }

    #first-p {
        width: 398px;
        margin-top: 25px;
        margin-left: 39px;
        margin-top: 25px;
    }

    #maximize {
        margin-top: 99px;
        margin-left: 39px;
    }

    #skill {
        margin-top: 31px;
        margin-left: 39px;
    }

    #container2 {
        margin-top: 24px; 
        margin-right: 40px;
    }

    #container7 {
        aspect-ratio:calc(768 / 120);
        margin-top: 86px;
    }

    #skill-black {
        margin-left: 40px;
    }

    #container8 {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1024px) {

    body {
        background-image: url(assets/image-hero-desktop.png);
        background-position: right -350px top -180px;
        
    }
    .card {
        max-width: 350px;
        margin: 0px;
        padding-left: 28px;
        padding-top: 64px;
        padding-right: 29px;
        padding-bottom: 40px;
        height: 322px;
    }

    #container5 {
        width: 350px;
        margin: 0px;
        height: 322px;
    }

    h6 {
        margin-bottom: 24px;
        font-size: 24px;
    }

    p {
        font-size: 18px;
        width: 286px;
    }
    
    #big {
        gap: 80px 30px;
        max-width: 1400px;
    }
    
    #container8 {
        margin-right: 165px;
    }
    
    #skill-black {
        margin-left: 165px;
    }
    
    #container7 {
        aspect-ratio:calc(1440 / 120);
        margin-top: 140px;
    }

    #courses {
        font-size: 32px;
        width: 286px;
        line-height: 40px;
        margin-left: 32px;
    }

    #container3 {
        margin-left: 165px;
        margin-bottom: 266px;
    }

    #first-p {
        margin-left: 165px;
        margin-bottom: 40px;
        width: 445px;
    }

    #maximize {
        margin-left: 165px;
        margin-bottom: 29px;
        font-size: 56px;
    }

    #skill {
        margin-left: 165px;
    }

    #container2 {
        margin-right: 165px;
    }
}